/* Src/components/EchartsComponent.css */

#echart {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50px;
    z-index: 1000;
    background-color: rgba(240, 240, 240, 0.8); /* Adjust the opacity (last value) as needed */
}

/* Ensure the tooltip has a higher z-index */
.echarts-tooltip {
    z-index: 2000 !important;
}
